In [2]:
%load_ext sql

In [3]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

'Connected: student@sparkifydb'

In [4]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(1, datetime.datetime(2018, 11, 30, 0, 22, 7, 796000), 91, 'free', None, None, 829, 'Dallas-Fort Worth-Arlington, TX', 'Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; WOW64; Trident/6.0)'),
 (2, datetime.datetime(2018, 11, 30, 1, 8, 41, 796000), 73, 'paid', None, None, 1049, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (3, datetime.datetime(2018, 11, 30, 1, 12, 48, 796000), 73, 'paid', None, None, 1049, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (4, datetime.datetime(2018, 11, 30, 1, 17, 5, 796000), 73, 'paid', None, None, 1049, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (5, datetime.datetime(2018, 11, 30, 1, 20, 56, 796000), 73, 'paid', None, None, 1049, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"')]

In [5]:
%sql SELECT count(*) FROM songplays

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(330,)]

In [42]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(92, 'Ryann', 'Smith', 'F', 'free'),
 (78, 'Chloe', 'Roth', 'F', 'free'),
 (73, 'Jacob', 'Klein', 'M', 'paid'),
 (12, 'Austin', 'Rosales', 'M', 'free'),
 (86, 'Aiden', 'Hess', 'M', 'free')]

In [43]:
%sql SELECT count(*) FROM users

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(22,)]

In [36]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[('SOMZWCG12A8C13C480', "I Didn't Mean To", 'ARD7TVE1187B99BFB1', 0, 218.93179)]

In [37]:
%sql SELECT count(*) FROM songs

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(1,)]

In [38]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[('ARD7TVE1187B99BFB1', 'Casual', 'California - LA', nan, nan)]

In [39]:
%sql SELECT count(*) FROM artists

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(1,)]

In [40]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(datetime.datetime(2018, 11, 30, 0, 22, 7, 796000), 0, 30, 48, 11, 2018, '4'),
 (datetime.datetime(2018, 11, 30, 1, 8, 41, 796000), 1, 30, 48, 11, 2018, '4'),
 (datetime.datetime(2018, 11, 30, 1, 12, 48, 796000), 1, 30, 48, 11, 2018, '4'),
 (datetime.datetime(2018, 11, 30, 1, 17, 5, 796000), 1, 30, 48, 11, 2018, '4'),
 (datetime.datetime(2018, 11, 30, 1, 20, 56, 796000), 1, 30, 48, 11, 2018, '4')]

In [41]:
%sql SELECT count(*) FROM time

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(330,)]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).

# Sanity Tests 

Execute the cells below once you are ready to submit the project. Some basic sanity testing will be performed to esnure that your work does NOT contain any commonly found issues. 

Run each cell and if a cell produces an warning message is orange, you should make appropriate changes to your code before submitting. If all test in a cell pass,no warnings will be printed. 

The test cases assume that you are using certain column names in your tables. If you get a `IndexError: single positional indexer is out-of-bounds` you may need to change the column names being used by the test cases. Instructions for doing this appear right boefore cell that may require these changes.

The tests below are only meant to help you make your work foolproof. The submission will still be graded by a human grader against the project rubric.

---

## Grab Table Names for Testing

In [13]:
import sql_queries as sqlq

In [14]:
%%sql _tablenames <<
SELECT tablename
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND schemaname != 'information_schema' AND tableowner = 'student';

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.
Returning data to local variable _tablenames

In [15]:
tablenames = _tablenames.DataFrame()
print(tablenames.tablename)

0         time
1        users
2      artists
3        songs
4    songplays
Name: tablename, dtype: object

In [16]:
user_table = [name for name in list(tablenames.tablename) if name in sqlq.user_table_create][0]
song_table = [name for name in list(tablenames.tablename) if name in sqlq.song_table_create][0]
artists_table = [name for name in list(tablenames.tablename) if name in sqlq.artist_table_create][0]
songplay_table = [name for name in list(tablenames.tablename) if name in sqlq.songplay_table_create][0]
print(user_table)
print(song_table)
print(artists_table)
print(songplay_table)
print(sqlq.songplay_table_create)

users
songs
artists
time

    CREATE TABLE IF NOT EXISTS songplays (
        songplay_id SERIAL PRIMARY KEY,
        start_time TIMESTAMP NOT NULL,
        user_id INT NOT NULL,
        level VARCHAR NOT NULL,
        song_id VARCHAR,
        artist_id VARCHAR,
        session_id INT NOT NULL,
        location TEXT NOT NULL,
        user_agent TEXT NOT NULL
)

## Run Primary Key Tests

In [17]:
%sql _output << SELECT a.attname, format_type(a.atttypid, a.atttypmod) AS data_type, a.attnotnull, i.indisprimary \
FROM   pg_index i \
JOIN   pg_attribute a ON a.attrelid = i.indrelid \
                     AND a.attnum = ANY(i.indkey) \
WHERE  i.indrelid = '{user_table}'::regclass

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.
Returning data to local variable _output

In [18]:
if not _output:
    print('\033[93m'+'[WARNING] '+ f"The {user_table} table does not have a primary key!")

In [19]:
%sql _output << SELECT a.attname, format_type(a.atttypid, a.atttypmod) AS data_type, a.attnotnull, i.indisprimary \
FROM   pg_index i \
JOIN   pg_attribute a ON a.attrelid = i.indrelid \
                     AND a.attnum = ANY(i.indkey) \
WHERE  i.indrelid = '{artists_table}'::regclass

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.
Returning data to local variable _output

In [20]:
if not _output: 
    print('\033[93m'+'[WARNING] '+ f"The {artists_table} table does not have a primary key!")

In [21]:
%sql _output << SELECT a.attname, format_type(a.atttypid, a.atttypmod) AS data_type, a.attnotnull, i.indisprimary \
FROM   pg_index i \
JOIN   pg_attribute a ON a.attrelid = i.indrelid \
                     AND a.attnum = ANY(i.indkey) \
WHERE  i.indrelid = '{songplay_table}'::regclass

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.
Returning data to local variable _output

In [22]:
if not _output:
    print('\033[93m'+'[WARNING] '+ f"The {songplay_table} table does not have a primary key!")

In [23]:
%sql _output << SELECT a.attname, format_type(a.atttypid, a.atttypmod) AS data_type, a.attnotnull, i.indisprimary \
FROM   pg_index i \
JOIN   pg_attribute a ON a.attrelid = i.indrelid \
                     AND a.attnum = ANY(i.indkey) \
WHERE  i.indrelid = '{song_table}'::regclass

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.
Returning data to local variable _output

In [24]:
if not _output:
    print('\033[93m'+'[WARNING] '+ f"The {song_table} table does not have a primary key!")

## Run Data Type and Constraints Check

In [25]:
%sql _output << SELECT * FROM information_schema.columns where table_name='{user_table}'

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.
Returning data to local variable _output

**Check the column `user_id` for correct data type.**
If you get a `IndexError: single positional indexer is out-of-bounds` error, you may be using a different column name. Change the column name below and run the cell again.

In [26]:
output = _output.DataFrame()
print(output.column_name)
print(output.table_name)
_dtype = output[output.column_name == 'user_id'].data_type.iloc[0]
if _dtype not in ['integer', 'bigint']:
    print('\033[93m'+'[WARNING] '+ f"Type {_dtype} may not be an appropriate data type for column 'user_id' in the '{user_table}' table.")

0       user_id
1    first_name
2     last_name
3        gender
4         level
Name: column_name, dtype: object
0    users
1    users
2    users
3    users
4    users
Name: table_name, dtype: object

In [27]:
%sql _output << SELECT * FROM information_schema.columns where table_name='{song_table}'
print(output)

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.
Returning data to local variable _output
  table_catalog table_schema table_name column_name  ordinal_position  \
0    sparkifydb       public      users     user_id                 1
1    sparkifydb       public      users  first_name                 2
2    sparkifydb       public      users   last_name                 3
3    sparkifydb       public      users      gender                 4
4    sparkifydb       public      users       level                 5

  column_default is_nullable          data_type character_maximum_length  \
0           None          NO            integer                     None
1           None         YES  character varying                     None
2           None         YES  character varying                     None
3           None         YES               text                     None
4           None         YES  character varying                     None

   character_octet_length     ...       is_identity  identity_generation  \
0                     NaN     ...                NO                 None
1            1.073742e+09     ...                NO                 None
2            1.073742e+09     ...                NO                 None
3            1.073742e+09     ...                NO                 None
4            1.073742e+09     ...                NO                 None

   identity_start identity_increment identity_maximum identity_minimum  \
0            None               None             None             None
1            None               None             None             None
2            None               None             None             None
3            None               None             None             None
4            None               None             None             None

  identity_cycle is_generated generation_expression is_updatable
0           None        NEVER                  None          YES
1           None        NEVER                  None          YES
2           None        NEVER                  None          YES
3           None        NEVER                  None          YES
4           None        NEVER                  None          YES

[5 rows x 44 columns]

**Check the column `year` for correct data type.
Check columns `title` and `duration` for not-NULL constraints.**

If you get a `IndexError: single positional indexer is out-of-bounds` error, you may be using different column names. Change the column name(s) below and run the cell again.

In [28]:
output = _output.DataFrame()
print(output.column_name)
print(output.table_name)

_dtype = output[output.column_name == 'year'].data_type.iloc[0]
if _dtype not in ['integer']:
    print('\033[93m'+'[WARNING] '+ f"Type '{_dtype}' may not be an appropriate data type for column 'year' in the '{song_table}' table.")

_nullable_title = output[output.column_name == 'title'].is_nullable.iloc[0]
_nullable_duration = output[output.column_name == 'duration'].is_nullable.iloc[0]
if (_nullable_duration != 'NO') or (_nullable_title != 'NO'): 
    print('\033[93m'+'[WARNING] '+ f"You may want to add appropriate NOT NULL constraints to the '{song_table}' table.")

0      song_id
1        title
2    artist_id
3         year
4     duration
Name: column_name, dtype: object
0    songs
1    songs
2    songs
3    songs
4    songs
Name: table_name, dtype: object

In [29]:
%sql _output << SELECT * FROM information_schema.columns where table_name='{artists_table}'

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.
Returning data to local variable _output

## Check the columns `latitude` and `longitude` for correct data type.
Check column `name` for not-NULL constraint.**

If you get a `IndexError: single positional indexer is out-of-bounds` error, you may be using different column names. Change the column name(s) below and run the cell again.

In [30]:
output = _output.DataFrame()
print(output.columns)

_dtype_latitude = output[output.column_name == 'latitude'].data_type.iloc[0]
if _dtype_latitude not in ['double precision']:
    print('\033[93m'+'[WARNING] '+ f"Type '{_dtype_latitude}' may not be an appropriate data type for column 'latitude' in the '{artists_table}' table")

_dtype_longitude = output[output.column_name == 'longitude'].data_type.iloc[0]
if _dtype_longitude not in ['double precision']:
    print('\033[93m'+'[WARNING] '+ f"Type '{_dtype_longitude}' may not be an appropriate data type for column 'longitude' in the '{artists_table}' table")


_nullable_name = output[output.column_name == 'name'].is_nullable.iloc[0]
if _nullable_name != 'NO':
    print('\033[93m'+'[WARNING] '+ f"You may want to add appropriate NOT NULL constraints to the '{artists_table}' table.")

Index(['table_catalog', 'table_schema', 'table_name', 'column_name',
       'ordinal_position', 'column_default', 'is_nullable', 'data_type',
       'character_maximum_length', 'character_octet_length',
       'numeric_precision', 'numeric_precision_radix', 'numeric_scale',
       'datetime_precision', 'interval_type', 'interval_precision',
       'character_set_catalog', 'character_set_schema', 'character_set_name',
       'collation_catalog', 'collation_schema', 'collation_name',
       'domain_catalog', 'domain_schema', 'domain_name', 'udt_catalog',
       'udt_schema', 'udt_name', 'scope_catalog', 'scope_schema', 'scope_name',
       'maximum_cardinality', 'dtd_identifier', 'is_self_referencing',
       'is_identity', 'identity_generation', 'identity_start',
       'identity_increment', 'identity_maximum', 'identity_minimum',
       'identity_cycle', 'is_generated', 'generation_expression',
       'is_updatable'],
      dtype='object')

In [31]:
%sql _output << SELECT * FROM information_schema.columns where table_name='songplays'
print(output)

 * postgresql://student:***@127.0.0.1/sparkifydb
9 rows affected.
Returning data to local variable _output
  table_catalog table_schema table_name column_name  ordinal_position  \
0    sparkifydb       public    artists   artist_id                 1
1    sparkifydb       public    artists        name                 2
2    sparkifydb       public    artists    location                 3
3    sparkifydb       public    artists    latitude                 4
4    sparkifydb       public    artists   longitude                 5

  column_default is_nullable          data_type character_maximum_length  \
0           None          NO  character varying                     None
1           None          NO  character varying                     None
2           None         YES               text                     None
3           None         YES   double precision                     None
4           None         YES   double precision                     None

   character_octet_length     ...       is_identity  identity_generation  \
0            1.073742e+09     ...                NO                 None
1            1.073742e+09     ...                NO                 None
2            1.073742e+09     ...                NO                 None
3                     NaN     ...                NO                 None
4                     NaN     ...                NO                 None

  identity_start identity_increment identity_maximum identity_minimum  \
0           None               None             None             None
1           None               None             None             None
2           None               None             None             None
3           None               None             None             None
4           None               None             None             None

  identity_cycle is_generated generation_expression is_updatable
0           None        NEVER                  None          YES
1           None        NEVER                  None          YES
2           None        NEVER                  None          YES
3           None        NEVER                  None          YES
4           None        NEVER                  None          YES

[5 rows x 44 columns]

## Check the columns `start_time` and `user_id` for correct data type.
Check columns `start_time` and `user_id` for not-NULL constraint.**

If you get a `IndexError: single positional indexer is out-of-bounds` error, you may be using different column names. Change the column name(s) below and run the cell again.

In [32]:
output = _output.DataFrame()
print(output.column_name)

_dtype_start_time = output[output.column_name == 'start_time'].data_type.iloc[0]
if 'timestamp' not in _dtype_start_time: 
    print('\033[93m'+'[WARNING] '+ f"Type '{_dtype_start_time}' may not be an appropriate data type for column 'start_time' in the '{songplay_table}' table.")

_dtype_user_id = output[output.column_name == 'user_id'].data_type.iloc[0]
if _dtype_user_id not in ['integer', 'bigint']:
    print('\033[93m'+'[WARNING] '+ f"Type '{_dtype_user_id}' may not be an appropriate data type for column 'user_id' in the '{songplay_table}' table.")


_nullable_time = output[output.column_name == 'start_time'].is_nullable.iloc[0]
_nullable_uid = output[output.column_name == 'user_id'].is_nullable.iloc[0]

if (_nullable_time != 'NO') or (_nullable_uid != 'NO'):
    print('\033[93m'+'[WARNING] '+ f"You may want to add appropriate NOT NULL constraints to the '{songplay_table}' table.")

0    songplay_id
1     start_time
2        user_id
3          level
4        song_id
5      artist_id
6     session_id
7       location
8     user_agent
Name: column_name, dtype: object

## Run Tests for Upsertion Check

In [33]:
import re

In [35]:
if not re.search('ON\s+CONFLICT',sqlq.songplay_table_insert,re.IGNORECASE) or \
   not re.search('ON\s+CONFLICT',sqlq.user_table_insert,re.IGNORECASE) or \
   not re.search('ON\s+CONFLICT',sqlq.song_table_insert,re.IGNORECASE) or \
   not re.search('ON\s+CONFLICT',sqlq.artist_table_insert,re.IGNORECASE):
    print('\033[93m'+'[WARNING]Some of your insert queries may need an "ON CONFLICT" clause.')
    print('\033[93m'+'         You can either skip conflicting insertions with with "ON CONFLICT DO NOTHING"')
    print('\033[93m'+'         OR use "ON CONFLICT DO UPDATE SET"')
    print('\033[93m'+'         Check this link for more details: https://www.postgresqltutorial.com/postgresql-upsert/')

[WARNING]Some of your insert queries may need an "ON CONFLICT" clause.
         You can either skip conflicting insertions with with "ON CONFLICT DO NOTHING"
         OR use "ON CONFLICT DO UPDATE SET"
         Check this link for more details: https://www.postgresqltutorial.com/postgresql-upsert/